h1{
    text-align: center;
    border: solid;
    width: 50%;
    text-decoration: red underline;
    letter-spacing: 15px;
}

p{
    text-align: start;
    font-weight: 400;
    text-decoration: overline;
    line-height: 2.5;
}

h2{
    font-weight: normal;
    text-decoration: wavy line-through;
}

a{
    text-decoration: none;
}